.calendar {
  position: relative;
  overflow: hidden;
  text-transform: capitalize;
  text-align: center;
  font: 15px/1em inherit;
  color: #444; }
  .calendar a {
    text-decoration: none;
    color: inherit; }
  .calendar header .btn {
    display: inline-block;
    position: absolute;
}
.calendar header {
  display: block;
  height: 2rem;
  color: #fff;
  line-height: 2rem;
}
  .calendar header .btn:hover {
    background: rgba(255,255,255,.3);
    color: white; }
  .calendar header .btn-prev {
    left: 3px;
    top: 3px; }
  .calendar header .btn-next {
    right: 3px;
    top: 3px; }
  .calendar header .month {
    padding: 5px;
}
  .calendar table {
    width: 100%;
    margin: 10px 0;
    border-spacing: 0px; }
  .calendar thead {
    font-size: 1.1em;
    font-weight: 600; }
  .calendar td {
    padding: 0.2em 0.1em; }
  .calendar .day {
    box-sizing: border-box;
    display: inline-block;
    width: 2.3em;
    height: 2.3em;
    line-height: 2.1em;
    border: 2px solid transparent;
  border-radius: 50px; }
  .calendar a.day:hover {
    border: 1px solid #34B99C;
    color: #fff;
    cursor: pointer;}
  .calendar .day.today {
    background: #ddd;
     }
  .calendar .day.wrong-month {
    color: #CBD1D2; }
  .calendar .day.wrong-month:hover {
    border: 2px solid transparent; }
  .calendar .event-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #34B99C; }
  .calendar .event {
    border: 1px solid #34B99C; }
  .calendar .event:hover {
    background: #34B99C;
    color: #fff; }
  .calendar .filler {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #34B99C;
    transform: translate(-50%, -50%); }
